
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

a{
  text-decoration: none;
  color:black;
}

.dummy{
  
 Orange: #ff7d1a;
 Pale_orange: hsl(25, 100%, 94%);
 
 /*  Neutral */
 
 Very_dark_blue: hsl(220, 13%, 13%);
 Dark_grayish_blue: hsl(219, 9%, 45%);
 Grayish_blue: hsl(220, 14%, 75%);
 Light_grayish_blue: hsl(223, 64%, 98%);
 White:#ffffff;
 white:#ffffff;
 /* Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%); */
}